
<div class="card mb-3">
  <img class="card-img-top" src="assets/img/nosotos.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Qué es el taekwondo</h4>
    <p class="card-text">El Taekwondo es un arte marcial de origen coreano
    que ha sido instruido en la civilización asiática
    durante siglos. Con el tiempo se fue transformando
    en un moderno deporte, en una forma o método de bloquear
    golpes, patear y golpear sin armas.</p>

    <li>Tae: Pie, patada</li>
    <li>Kwon: Puño, bloqueo</li>
    <li>Do: Camino, arte, método o forma de vida</li>
  </div>
</div>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Significado de los colores</h4>

<ul type="circle">
     <li>Blanco. Significa inocencia, como la del principiante
        que no tiene todavía nociones de los movimientos y técnicas
        de Taekwondo.</li>

      <li>Amarillo. Significa la tierra de donde germina y crece raíz
         una planta, al igual que se infunda el Taekwondo en una persona.</li>

      <li>Naranja. Significa la perseverancia del estudiante para lograr sus metas.</li>

      <li>Verde. Significa el crecimiento mientras las habilidades del Taekwondo
        crecen y se comienzan a desarrollarse como el verde de las plantas.</li>

      <li>Púrpura. Significa la libertad.</li>

      <li>Azul. Significa el cielo. Hacia el cielo crece la planta mientras se
        convierte en árbol, de la misma forma que el Taekwondo crece en los estudiantes.</li>

      <li>Rojo. Significa peligro. Prevenir a tu oponente de que debe mantenerse alejado
        mientras tú ejerces el control.</li>

      <li>Marrón. Significa que el estudiante ve el gran hemisferio de las artes marciales.</li>

      <li>Negro. El color opuesto al blanco hace referencia a la madurez y experiencia del Taekwondo.
         También significa la inmunidad del estudiante a la oscuridad y al temor.</li>
</ul>

  </div>
  <img class="card-img-bottom" src="assets/img/colores.png" alt="Card image cap">
</div>
