<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <form class="form-ingresar" method="post" action="#">
<ul>
<li>
    <input type="text" name="field1" class="field-style field-split align-left" placeholder="Nombre" required=""/>
    <input type="email" name="field2" class="field-style field-split align-right" placeholder="Email" required=""/>

</li>
<li>
    <input type="text" name="field3" class="field-style field-split align-left" placeholder="Usuario" required=""/>
    <input type="password" name="field4" class="field-style field-split align-right" placeholder="Contraseña" required=""/>
</li>
<li>
<button type="button">Enviar</button>
</li>
</ul>
</form>
</div>
</div>
